# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.LinkDotNet.StringOperations.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\stgi\source\repos\LinkDotNet.StringOperations\.idea\.idea.LinkDotNet.StringOperations\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
